<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorFront</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="TipoIndicadores">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Tipo Indicador
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="UnidadMedicion">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Unidad Medición
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="SubSeccion">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Subsección
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Frecuencia">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Frecuencia
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Sentido">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Sentido
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Seccion">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Sección
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Rol">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Rol
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Fuente">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Fuente
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="TipoActor">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Tipo Actor
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="RepresentacionVisual">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Representación Visual
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Articulo">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Articulo
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Actor">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Actor
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Literal">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Literal
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Numeral">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Numeral
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Paragrafo">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Paragrafo
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Variable">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Variable
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
